body{
  height:100%;
}
*{
  margin:0;
  padding:0;
}

.menu{
  height:3em;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: #3d3d3d 0 3px 6px 0;
}

.icons{
  height:auto;
  width:1.5em;
  padding:0 2em;

  cursor: pointer;
}

#OverflowMenu{
  margin-top:3em;
  height:calc(100% - 3em);
  min-width:20em;
  width:25em;
  position: absolute;
  z-index: 1;
  background:white;
  box-shadow: #3d3d3d 3px 3px 6px 0;
  transition:.5s;
  overflow-y: auto;
}

#OverflowMenu > ul > li{
  display: flex;
  padding:1em 0;
  padding-left: 1em;
  transition: .3s;
}

#OverflowMenu > ul > li > div:first-child{
  width:100%;
  overflow-x: visible;
  text-wrap: none;
}
#OverflowMenu > ul > li > div:first-child > div{
  font-size: .6em;
}
#OverflowMenu > ul > li > div:nth-child(2){
  display: flex;
  width:50%;
  text-align: right;
  padding-right: 2em;
  cursor: pointer;
  justify-content: right;
  align-items: center;
}


#OverflowMenu > ul > .selectable:hover{
  padding:1em 0;
  padding-left: 1em;
  background:rgba(1,1,1,0.2);
  cursor: pointer;
}




@keyframes slideSide{
  0%{

  }
}

.copyLight{
  font-size: 0.5em;
  color:gray;
  position: absolute;
  bottom:0;
}

.content{
  display: flex;
  height:calc(100vh - 3em);
  overflow-y: auto;
  padding:0 1em 0 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Video-view{
  display: flex;
  min-width: 40%;
  justify-content: center;
  align-items: center;
}

.Video-frame{
  height:360px;
  width:480px;
  /*background:blue;*/
}

.analytics-view{
  display: flex;
  overflow-y: auto;
  width:calc(60% - 2em);
  min-width: 30em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
}

#webcamButton{
  text-align: center;
}

.blend-shapes-item {
  display: flex;
  align-items: center;
  height: 20px;
}

.blend-shapes-label {
  display: flex;
  width: 120px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
}

.blend-shapes-value {
  display: flex;
  height: 16px;
  align-items: center;
  background-color: #007f8b;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.15em;
  height: 1.15em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaaaaa;
  -webkit-transition: .4s;
  transition: .4s;
  border:solid 1px black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}

/*プルダウン*/

select{
  border:none;
  background:rgba(0,0,0,.2);
  padding:.8em 0;
}

/*ボタン*/
button{
  border:none;
  padding:1em;
  background:rgba(0,0,0,.2);
  border-radius: .5em;
  /*box-shadow: 3px 3px 1px 1px #131313;*/
  transition: .2s;
  cursor: pointer;
}

#OverflowMenu > ul > li > button{
  border:none;
  padding:0 .5em;
  background:red;
  border-radius: .5em;
  /*box-shadow: 3px 3px 1px 1px #131313;*/
  transition: .2s;
  cursor: pointer;
}

/*通知関係*/
#notice{
  position: absolute;
  right:0;
  margin:1em;
  padding:1em 1em 0 1em;
  max-height:70%;
  width:30%;
  /*box-shadow: 0 3px 6px 6px rgba(0,0,0,.2);*/
  z-index: 100;
  overflow-y: hidden;
}

#notice > div{
  width:calc(100% - 2em);
  height:3em;
  background:rgba(0,0,0,.8);
  color:white;
  padding:1em 0 1em 2em;
  margin-bottom:1em;
}

#notice > div :first-child{
  font-size: 1.2em;
}

#notice > div :nth-child(2){
  font-size: .8em;
}

#notice > .error::before{
  content:"";
  width:5px;
  height:3em;
  margin-left:-1em;
  position: absolute;
  background:red;
}
#notice > .notice::before{
  content:"";
  width:5px;
  height:3em;
  margin-left:-1em;
  position: absolute;
  background:aquamarine;
}

li.error::before{
  content:"";
  width:5px;
  height:3em;
  margin-left: -.6em;
  position: absolute;
  background:red;
}
li.notice::before{
  content:"";
  width:5px;
  height:3em;
  margin-left: -.6em;
  position: absolute;
  background:aquamarine;
}